snippet div
	div{
		${1:}
	
	
	}
	
snippet a
	a{
		${1:}
	
	
	}

snippet class
	.${1:}{
	
	
	
	
	}

snippet id
	#${1:}{
	
	
	
	
	}

snippet mt
	margin-top:0px;
	
snippet ml
	margin-left:0px;
	
snippet mr
	margin-right:0px;
	
snippet mb
	margin-bottom:0px;
	
