*****************FUNCTION*******************

sanippet function
	function ${1}() {
	
	}

*****************ARRAY*******************

snippet array.prototype
	array.prototype.${1} = function(){
		${2}.
	}

*****************DOCUMENT*******************

snippet document.getElementById("")
	document.getElementById("${1}")

snippet document.getPrueba
	prueba
